/* * {
	border: solid 1px;
}  */

body {
	padding-left: 25px;
	padding-right: 25px;
	font-family: 'Open Sans', sans-serif;
	font-weight:lighter;
}

h1 {
	color: black;
	font-size: 250%;
	font-weight: lighter;
	text-align: left;
	/* upper cases */
	/* font-variant: small-caps; */
}

h2 {
	color: gray;
	font-size: 175%;
	text-align: left;
	font-weight: lighter;
	/* upper cases */
	/* font-variant: small-caps; */
}

img {
	height: 500px;
}

th {
	color: #575757;
	font-weight:lighter;
}